<h2>Editing Book</h2>
<%= form_with model: @book,url: book_path(@book.id), method: :patch do |b| %>

  <div class="create">
    <span class="field_with_errors">
      <% if @book.errors.any? %>
        <h5>
          <%= @book.errors.count %>error prohibited this book from being saved:
        </h5>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li>・<%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </span>


    <p>Title</p>
    <div class="field"><%= b.text_field :title %></div>

    <p>Body</p>
    <div class="field"><%= b.text_area :body %></div>

    <div class="submit-button">
      <%= b.submit 'Update Book' %>
    </div>
  </div>

  <div class ="link">
    <div class="link-item">
      <%= link_to 'Show', book_path(@book.id) %>
       | 
      <%= link_to 'Back', books_path %>
    </div>
  </div>

<% end %>