<div class="notice">
  <%= flash[:notice] %>
</div>

<p class="show-text">
  <strong>Title:</strong> <%= @book.title %>
</p>

<p class="show-text">
  <strong>Body:</strong> <%= @book.body %>
</p>


<div class="link">
  <div class="link-item">
    <%= link_to 'Edit', edit_book_path(@book.id) %>
   | 
    <%= link_to 'Back', books_path %>
  </div>
</div>

