<div class="notice">
  <%= flash[:notice] %>
</div>

<p class="show-text">
  <strong>Title:</strong> <%= @book.title %>
</p>

<p class="show-text">
  <strong>Body:</strong> <%= @book.body %>
</p>


<div class="link">
  <a class="link-item">
    <%= link_to 'Edit', "/books/#{@book.id}/edit" %>
  </a>
   | 
  <a class="link-item">
    <%= link_to 'Back', "/books" %>
  </a>
</div>

